{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-wrap justify-content-center gap-3 mt-5">
  {% for post in data %}
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text">{{post.author.name}}</p>
        {% for cat in post.catagory.all %}
        <button class="btn btn-primary btn-sm m-2" disabled>{{cat}}</button>
        {% endfor %}
        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
{% endblock content %}